<div class="container-fluid" style="background-color: burlywood;">
  <h3 style="text-align: center; padding: 10px;">Hello there!! I'm in app.component.html</h3>
  <hr> <lifecycle-parent></lifecycle-parent>
  <hr> <interpolation></interpolation>
  <hr> <pipes></pipes>
  <hr> <ngFor-trackBy></ngFor-trackBy>
  <hr> <property-binding></property-binding>
  <hr> <two-way-binding></two-way-binding>
  <hr> <event-binding></event-binding>
  <hr> <nested-component-parent></nested-component-parent>
  <hr> Thank You!!
</div> 