/* Shadow */

.main-box {
    box-shadow: 1px 1px 4px 1px rgb(228, 216, 216);
    border-radius: 5px;
    margin: 10px 30px;
}


/* Shopping Icon */

.bi-cart3 {
    color: rgb(167, 155, 155);
    padding: 10px;
    border: 1px solid rgb(167, 155, 155);
    border-radius: 50%;
}


/* Text-color-grey */

.text-grey {
    color: rgb(129, 134, 141);
}


/* Calendar */

.form-control,
.calendar,
span {
    border: none;
}

span {
    margin-top: 8px;
    font-size: 18px;
}


/* Bottom-border */

.line {
    width: fit-content;
    border-radius: 0;
    border-bottom: 1px solid rgb(162, 169, 176);
}


/* Search */

#search {
    border: none;
    color: rgb(167, 155, 155);
    border-bottom: 1px solid rgb(162, 169, 176);
    padding: 10px 0 0 40px;
    font-size: 16px;
    width: 100%;
    height: 2.5rem;
}

#search:focus {
    outline: none;
}

.input-icon i {
    position: absolute;
}

.icon {
    padding-top: 10px;
    min-width: 40px;
    text-align: center;
    color: rgb(162, 169, 176);
}


/* Table Heading */

.heading {
    color: rgb(2, 164, 218);
}

th {
    padding: 15px;
    background-color: rgb(229, 226, 226);
}


/* three buttons */

.qty {
    width: fit-content;
    height: fit-content;
    border: 0.5px solid rgb(238, 0, 127);
    border-radius: 5px;
}

.number {
    border: none;
    border-radius: 5px;
    background-color: rgb(238, 0, 127);
    color: white;
    width: 30px;
    height: 28px;
    margin-top: 0;
}

button:focus {
    outline: none;
}


/* trash */

.bi-trash {
    padding: 7px 10px;
    color: red;
    border: none;
    border-radius: 50%;
    background-color: rgb(243, 223, 233);
}


/* Status Dropdown */

.dropdown-toggle::after {
    content: none;
}

.dropdown-btn:focus {
    border: none;
}

.status {
    font-weight: bold;
    background: transparent;
}


/* Bought and Removed */

.bought {
    color: yellowgreen;
}